h1{
  text-align: center;
}
/* .form-container{
  display: flex;
  gap:15px;
  flex-direction: column;
  align-items: center;
} */
.form-container{
  display:flex;
  height: 250px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}